.carousel-item .image-container {
    position: relative;
    width: 100%;
}


.carousel-item .hover-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: large;
    color: white;
    padding: 80px;
    opacity: 0;
    transition: opacity 0.3s;
}

.carousel-item:hover .hover-text {
    opacity: 1;
}

h2 {
    font-size: 3rem;
  
    line-height: 1.2;
    margin-bottom: 1rem;
}
p {
    font-size: 1.25rem;
   
    line-height: 1.5;
    margin-bottom: 1rem;
}